body {
  background-color: #ffffff;
  font-family: "Roboto";
  color: #212121;
}
/* Header section  */
.header {
  width: 1600px;
  height: 80px;
  font: "Roboto";
  font-weight: 500px;
  font-size: 14px;
  list-style: 17px;
  border: 1px;
  background-color: #ffffff;
}
/* Header menu section  */
.menu {
  margin-top: 32px;
  height: 16px;
  left: 653px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  text-align: left;
  color: #212121;
  text-decoration: none;
}
.menu :hover {
  color: #2196f3;
}
/* Header logo section  */
.logo {
  font-size: 26px;
  width: 145px;
  height: 35px;
  margin-top: 24px;
  margin-left: 215px;
  color: #2196f3;
  font-weight: 900px;
  text-decoration: none;
}

.studio {
  font-family: "Raleway";
  font-weight: 700;
  line-height: 1.5;
  color: #212121;
}
/* Header contacts adress section  */
.contacts {
  margin-top: 32px;
  margin-left: 100px;
  color: #757575;
  text-decoration: none;
}
/* Head section  */
.head {
  background-color: #2f303a;
  width: 1600px;
  height: 600px;
  color: #ffffff;
}
/* Head page tittle section  */
.page__tittle {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.4;
  text-align: center;
  margin-top: 0px;
  padding-top: 200px;
}
/* Head button section  */
.buttons__request {
  color: #ffffff;
  background-color: #00000026;
  margin-left: 650px;
  border-top: 430px;
  border-radius: 4px;
  font-size: 30px;
  font-weight: 700;
  line-height: 2;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}
.head :focus {
  background-color: #2196f3;
}
/* About section  */
.about-section {
  margin-bottom: 100px;
}
/* About skills und info section  */
.skills {
  margin-top: 80px;
  padding-left: 150px;
}
.skills-info {
  color: #757575;
  font-weight: 400px;
}
.skills-tittle {
  width: 270px;
  height: 16px;
  top: 774px;
  left: 215px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
  text-align: left;
  color: #212121;
}
/* Work section  */
.work {
    font-size: 36px;
  font-weight: 700;
  line-height: 0.85;
  text-align: center;
  margin-top: 80px;
  background-color: #ffffff;
}
.our-work {
  top: 1061px;
  left: 215px;
  margin-top: 80px;
  padding-left: 150px;
  background-color: #ffffff;
}
/* Team info section  */
.team {
  background-color: #f5f4fa;
  padding-top: 30px;
  padding-bottom: 100px;
}
.our-team {
  font-size: 36px;
  font-weight: 700;
  line-height: 0.85;
  color: #212121;
  text-align: center;
  margin-top: 60px;
}
/* Cards with team members section  */
.team-members {
  border-radius: 5px;
  background-color: #ffffff;
  width: 270px;
  height: 368px;
  top: 1635px;
  left: 215px;
  margin-top: 60px;
}
.team-info {
  text-align: center;
}
/* Footer section  */
.footer {
  padding-top: 100px;

  width: 1600px;
  height: 251px;
  top: 2097px;
  background-color: #2f303a;
  color: #ffffff;
}
/* Footer contacts adress section  */
.adress {
  width: 231px;
  height: 72px;
  top: 2216px;
  left: 215px;
  padding-left: 110px;
  list-style: none;
}
/* Stilizarea substantivului "studio" in background darkness */
.studio-footer {
  color: #ffffff;
}
.adress-line {
  padding-top: 20px;
  padding-left: 100px;
  width: 207px;
  height: 16px;
  top: 2216px;
  left: 215px;
}
